${extends "header.html"}
<h1 class="courseTitle animated fadeIn">${courseName}</h1>
<nav class="courseMenu" id="courseMenu">
  <button class="toggleButton btn" id="toggleButton"><</button>
  <span id="menuHide">
  <p class="courseMenu--title">
    ${courseName}
  </p>
  <ul class="courseMenu--list">
    <li class="courseMenu--list--item">Sous partie 1</li>
    <li class="courseMenu--list--item">Sous partie 2</li>
  </ul>
  <p class="courseMenu--back">
    Retour
  </p>
  </span>
</nav>
<section class="courseContainer animated bounceInUp">
  ${courseContent}
</section>
${ extends "footer.html" }
