${extends "header.html"}
<header class="header">
  <p class="headerTextBlock">
    <span class="headerTextBlock--title"><a href="home.html">PhoenixMachina</a></span>
    <span class="headerTextBlock--delimiter"> > </span>
    <span class="headerTextBlock--subtitle">${courseName}</span>
  </p>
</header>
<h1 class="courseTitle animated fadeIn">${courseName}</h1>
<nav class="courseMenu" id="courseMenu">
  <button class="toggleButton btn" id="toggleButton"><</button>
  <span id="menuHide">
  <p class="courseMenu--title">
    ${courseName}
  </p>
  <ul class="courseMenu--list">
    <li class="courseMenu--list--item">Lorem ipsum</li>
    <li class="courseMenu--list--item">dolor sit amet</li>
    <li class="courseMenu--list--item">consectetur</li>
    <li class="courseMenu--list--item">adipisicLorem ipsum dolor</li>
    <li class="courseMenu--list--item">sit amet</li>
    <li class="courseMenu--list--item">consectetur</li>
  </ul>
  <p class="courseMenu--back">
    Retour
  </p>
  </span>
</nav>
<section class="courseContainer animated bounceInUp">
  ${courseContent}
</section>
${ extends "footer.html" }
