<header class="header">
  <p class="header--title">PhoenixMachina > Inscription</p>
</header>
<form method="post" action="login" class="loginForm">
  <label for="username">Pseudo ou Email </label> <input type="text" name="username" id="username" class="loginForm__inputText"/><br>
  <label for="password">Mot de passe </label> <input type="password" name="password" id="password" class="loginForm__inputText"/><br>
  <input type="submit" value="Connexion" class="btn loginForm__submit">
  <p class="small">Pas encore inscrit ? Cliquez sur <a href="register.html">ce lien !</a>
</form>
