<!DOCTYPE html>
<html>
<head>
  <title>PhoenixMachina</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="resources/css/main.css" media="screen">
</head>
<body>
  <header class="header">
    <h1 class="header--title">Connexion</h1>
  </header>
  <form method="post" action="login" class="loginForm">
        <label for="username">Pseudo ou Email </label> <input type="text" name="username" id="username" class="loginForm__inputText"/><br>
        <label for="password">Mot de passe </label> <input type="password" name="password" id="password" class="loginForm__inputText"/><br>
        <input type="submit" value="Connexion" class="btn loginForm__submit">
	<p class="small">Pas encore inscrit ? Cliquez sur <a href="register.html">ce lien !</a>
    </form>
</body>
</html>
