${extends "header.html"}
<form method="post" action="register" class="loginForm">
  <label for="pseudo">Pseudo</label> <input type="text" name="username" id="username" class="loginForm__inputText"/><br>
  <label for="password">Mot de passe</label> <input type="password" name="password" id="password" class="loginForm__inputText"/><br>
  <label for="mail">Email</label> <input type="email" name="mail" id="mail" class="loginForm__inputText"/><br>
  <input type="checkbox"> J'accepte les <a href="cgu">CGU</a><br>
  <input type="submit" value="Inscription" class="btn loginForm__submit">
  <p class="small">Déjà inscrit ? <a href="login">Connectez vous !</a>
</form>
${ extends "footer.html" }
