${extends "header.html"}
<header class="header">
  <p class="headerTextBlock">
    <span class="headerTextBlock--title"><a href="home.html">PhoenixMachina</a></span>
    <span class="headerTextBlock--delimiter"> > </span>
    <span class="headerTextBlock--subtitle">Inscription</span>
  </p>
</header>
<form method="post" action="register" class="loginForm">
  <label for="pseudo">Pseudo</label> <input type="text" name="pseudo" id="pseudo" class="loginForm__inputText"/><br>
  <label for="password">Mot de passe</label> <input type="password" name="password" id="password" class="loginForm__inputText"/><br>
  <label for="mail">Email</label> <input type="email" name="mail" id="mail" class="loginForm__inputText"/><br>
  <input type="checkbox"> J'accepte les <a href="cgu">CGU</a><br>
  <input type="submit" value="Inscription" class="btn loginForm__submit">
</form>
${ extends "footer.html" }
