/* ---- HTML5 CSS Reset Minified - Eric Meyer ---- */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Roboto', sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- Layout ---- */

/* ---- Module ---- */

.titleWrapper{
	position: absolute;
	top: 100px;
	text-align: center;
	width: 100%;
}

	.title{
		color: #FFFFFF;
		font-size: 6em;
	}

	@media screen and (max-width: 700px) {
	  .title {
	    font-size: 4em;
	  	}
	}

	@media screen and (max-width: 500px) {
	  .title {
	    font-size: 2em;
	  	}
	}

	.sub-title{
		color: #B3B3B3;
		font-size: 2em;
		font-weight: 100;
	}

	@media screen and (max-width: 700px) {
	  .sub-title {
	    font-size: 1.5em;
	  	}
	}

	@media screen and (max-width: 500px) {
	  .sub-title {
	    font-size: 1em;
	  	}
	}

	.particles-js{
	  width: 100%;
	  height: 50%;
	  background-size: cover;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	}

	.mainPage {
	  width: 100%;
		background-color: white;
		padding-top: 20px;
		padding-bottom: 50px;
	}
		.titleCourseTable {
			text-align: center;
			margin: 30px;
			font-size: 1.5em;
			color: #555555
		}
		.courseTable {
				background-color: #EEEEEE;
				margin: auto;
				width: 60%;
				text-align: center;
				font-size: 1.5em;
				color: #777777;
		}
		.courseTable td {
				padding: 20px 0;
		}

		.footer {
			height: 50px;
			background-color: #212121;
			color: #eeeeee;
			line-height: 50px;
			padding: 0 20px;
			font-weight: lighter;
		}

/* ---- State ---- */

/* ---- Theme ---- */
