/* ---- HTML5 CSS Reset Minified - Eric Meyer ---- */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;color:inherit;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

/* ---- base ---- */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #EEEEEE;
}

/* ---- Layout ---- */

.btn {
  padding: 10px 25px;
  background-color: #FFFFFF;
  border: none;
}

.small {
  font-weight: 100px;
  font-size: 0.8em;
  color: #333333;
}

/* ---- Module ---- */

.header {
  width: 100%;
  height: 70px;
  background:#111;
}

.headerTextBlock {
  color: white;
  line-height: 70px;
  margin-left: 20px;
}

  .headerTextBlock--title {
    color: white;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 10px;
    vertical-align: middle;
  }

  .headerTextBlock--delimiter {
    font-size: 2.3em;
    margin-left: 5px;
    vertical-align: middle;
    font-weight: 300;
  }

  .headerTextBlock--subtitle {
    font-weight: 200;
    margin-left: 5px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.8);
  }

  .headerTextBlock--title a:hover {
    color: #CCCCCC;
  }

.loginForm {
  margin: 40px;
  text-align: center;
}

  .loginForm input, .inputForm label {
    vertical-align: middle;

    font-size: 1.2em;
  }


  .loginForm label {
    margin-bottom: 25px;
    display: inline-block;
    width: 150px;
    text-align: right;
  }

  .loginForm__inputText {
    height: 20px;

    margin-left: 10px;
  }

  .loginForm__submit {
    margin: 10px;
  }

  .cgu{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    line-height: 1.8;
  }
  h1
  {
    font-size: 25px;
  }
  .centeredTitle
  {
    font-size: 25px;
    text-align: center;
    margin:5px;
  }
/* ---- State ---- */
.footer {
  height: 50px;
  background-color: #212121;
  color: #eeeeee;
  line-height: 50px;
  margin-top: 15px;
  font-weight: lighter;
  position:absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}
/* ---- Theme ---- */
