<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<table width="714px" style="border:1px solid #34495e" cellpadding="10px" cellspacing="0">
		<tr>
			<td style="height=70px;text-align:center;font-size:30px;font-family:Helvetica;background-color:#151515;color:#FFFFFF;">PhoenixMachina</td>
		</tr>
		<tr>
			<td bgcolor="white">
				<h2>Dernière étape</h2>
				<p>Merci de ton inscription sur PhoenixMachina ! <br /> <br />
          Il ne reste plus qu'une étape, valider ton compte en cliquant <a href="[lien_active_compte]">ici</a><br /><br />
				</p>
			</td>
		</tr>
		<tr>
			<td valign="middle" align="center" height="64px" bgcolor="#ecf0f1"><p>PhoenixMachina 2016</p></td>
		</tr>
	</table>
</body>
</html>
