<routes>
  <!-- Visitor pages -->
  <route url="/" controller="homeController" />
  <route url="login" controller="loginController"/>
  <route url="register" controller="registerController"/>
  <route url="courses\/[a-zA-Z0-9]+" controller="courseController" variables="course_name" />

  <!-- Members pages -->

  <!-- Admin pages -->
  <route url="admin/" controller="adminController"/>
  <route url="admin/editor\/[a-zA-Z0-9]+\/[a-zA-Z0-9]+" variables="type,action" controller="courseEditorController"/>

  <!-- Static pages -->
  <route url="cgu" controller="cguController"/>
  <route url="cookies" controller="cookiesController"/>
</routes>
